<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实体搜索</title>
    <script src="/static/js/jquery-1.12.4.min.js"></script>
    <script src="/static/js/search.js"></script>
    <script src="/static/js/select.js"></script>
    <link rel="stylesheet" href="/static/css/search_block.css">
</head>

<body>

<div class="outLine" id="outLineId">
    <div class="box" id="bbox">
        <input class="inner" type="text" id="input" onfocus="input_click()" onmouseenter="get_mouse()" onmouseleave="loss_mouse()" onblur="loss_focus()">
        <a href="javaScript:search_entity()" style="text-decoration:none;color:black"><input class="search" type="button" value="实体查询"></a>
    </div>
    <div class="show" id="show_id" onmouseenter="in_div()" onmouseleave="out_div()"></div>
</div>
</body>
</html>